body {
  font-family: Helvetica, sans-serif;
}

#map {
  width: 60%;
  height: 700px;
  float: left;
}

#side-panel {
  width: 40%;
  float: left;
}

.region-chooser {
  width: 600px;
  height: 300px;
}

.modal {
  z-index: 101;
  border: 1px solid #ccc;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.disabler {
  z-index: 100;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.6;
}