*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%; }

h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500; }

header {
  z-index: 9999;
  background: #2A2B33;
  padding: 16px;
  font-family: 'Dosis', sans-serif;
  border-bottom: 1px solid #E1E1E1; }
  header a {
    text-transform: uppercase;
    font-weight: 700;
    color: #4dc0dd;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 0.015em; }
    header a:hover, header a:active {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: #2F88A3; }
  header p {
    color: #4dc0dd;
    opacity: 0.7;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 0.85em; }

section header {
  background: none;
  padding: 15px 0 15px 0; }

.main {
  width: 60%;
  margin: 0 auto; }

.map-container {
  height: calc(100% - 73px); }

#map {
  width: 100%;
  height: 100%;
  float: left; }

#side-panel {
  width: 25%;
  max-width: 715px;
  min-width: 360px;
  float: left;
  position: absolute;
  top: 71px;
  overflow: auto;
  right: 0;
  z-index: 9999;
  background: #fff;
  display: none; }
  #side-panel.active {
    height: calc(100% - 73px);
    display: block; }

div.filters {
  padding: 30px 20px;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  color: #888; }
  div.filters h1 {
    margin: 20px 0 10px 0;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.035em; }
  div.filters h2 {
    font-size: 1em; }

div.subjects {
  border-top: 1px solid #f2f2f2;
  padding-top: 30px; }
  div.subjects h1 {
    font-size: 0.85em;
    color: #929292;
    margin-top: 0; }
  div.subjects ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: auto; }
    div.subjects ul li {
      padding: 10px 10px;
      font-size: 0.75em;
      word-spacing: 0.025em;
      text-transform: uppercase;
      font-weight: 600;
      width: 100%;
      background: #4dc0dd;
      color: #fff;
      text-align: center;
      margin-bottom: 10px;
      cursor: pointer;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px; }
      div.subjects ul li:last-child {
        margin-bottom: 0; }
      div.subjects ul li:hover, div.subjects ul li.active {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: #2F88A3; }
  div.subjects h1 {
    text-transform: uppercase;
    font-size: 1em; }

.region-chooser, .scale-chooser {
  width: 570px;
  height: 350px; }
  .region-chooser header, .scale-chooser header {
    padding: 10px 0;
    background: #2A2B33; }
  .region-chooser h1, .scale-chooser h1 {
    margin: 0;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.05em; }

.modal {
  z-index: 101;
  background: #f7f7f7;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

ul.regions {
  margin: auto;
  padding: 0 5%;
  list-style-type: none;
  width: 100%;
  overflow: hidden; }
  ul.regions li {
    float: left;
    width: 30%;
    margin-right: 5%; }
    ul.regions li:last-child {
      margin-bottom: 0;
      margin-right: 0; }
    ul.regions li div.region-area {
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
      margin: 0 auto 10px auto;
      height: 150px;
      opacity: 0.7; }
    ul.regions li div.region-area.region-link {
      padding: 5px 10px;
      background: #4dc0dd;
      color: #fff;
      text-align: center;
      cursor: pointer;
      height: 100%;
      font-size: 0.75em;
      text-transform: uppercase;
      font-weight: 600;
      word-spacing: 0.025em;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      opacity: 1; }
    ul.regions li:hover div.region-area, ul.regions li:active div.region-area {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      opacity: 1; }
    ul.regions li:hover div.region-area.region-link, ul.regions li:active div.region-area.region-link {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: #2F88A3; }

ul.scales {
  margin: auto;
  overflow: hidden;
  padding: 0;
  width: 420px; }

ul.scales li {
  padding: 5px 10px;
  background: #4dc0dd;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
  height: 100%;
  float: left;
  width: 200px;
  margin-right: 20px;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  word-spacing: 0.025em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  ul.scales li:last-child {
    margin-right: 0; }
  ul.scales li:hover, ul.scales li:active {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #2F88A3;
    opacity: 1; }

.disabler {
  z-index: 100;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.1; }

select option {
  width: 300px; }

.customSelect {
  /* This is the default class that is used */
  /* Put whatever custom styles you want here */
  background: transparent;
  border: 1px solid #4dc0dd;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  background-image: url(/imgs/icon_macarthur.png);
  background-position-x: 295px;
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-size: 4%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px; }

.customSelect.customSelectHover {
  /* Styles for when the select box is hovered */
  background-color: #4dc0dd;
  background-image: url(/imgs/icon_macarthur_white.png); }
  .customSelect.customSelectHover .customSelectInner {
    color: #fff; }

.customSelect.customSelectOpen {
  /* Styles for when the select box is open */
  background-color: #4dc0dd;
  background-image: url(/imgs/icon_macarthur_white.png); }
  .customSelect.customSelectOpen .customSelectInner {
    color: #fff; }

.customSelect.customSelectFocus {
  /* Styles for when the select box is in focus */
  background-color: #4dc0dd;
  color: #fff;
  background-image: url(/imgs/icon_macarthur.png); }
  .customSelect.customSelectFocus .customSelectInner {
    color: #fff; }

.customSelectInner {
  /* You can style the inner box too */
  display: inline-block;
  width: 300px;
  height: 30px;
  color: #4dc0dd; }

.tab-strapline {
  margin: 30px 20px 0 20px; }
  .tab-strapline p {
    margin: 0;
    font-size: 0.85em;
    color: #929292;
    font-weight: 500; }

ul.tabs {
  list-style-type: none;
  background: #2A2B33;
  color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 0; }
  ul.tabs li {
    padding: 10px;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85em;
    width: 25%;
    text-align: center;
    border-top: 1px solid #43434A;
    border-left: 1px solid #43434A;
    border-right: 1px solid #43434A; }
    ul.tabs li:first-child {
      border-right: none; }
    ul.tabs li:last-child {
      border-left: none;
      width: 50%; }
    ul.tabs li:hover, ul.tabs li.active {
      background: #131418;
      color: #4dc0dd;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }

div.selector {
  margin-top: 30px;
  border-top: 1px solid #eee; }
  div.selector:first-child h1 {
    margin: 30px 0 10px 0; }

div.secondary-filter {
  margin-top: 30px;
  border-top: 1px solid #eee; }
  div.secondary-filter h2 {
    margin-top: 30px; }

div.highlight-section {
  background: #f7f7f7;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

div.scenario-container {
  margin-top: 30px; }
  div.scenario-container h1 {
    margin-top: 0; }
  div.scenario-container div:last-child h1 {
    margin-top: 20px; }
  div.scenario-container .customSelect {
    background-position-x: 270px;
    background-position-y: 12px; }

p.scenario-help {
  font-size: 0.75em;
  margin-top: 0; }

p.scenario-help a {
  color: #bbb; }
  p.scenario-help a:hover, p.scenario-help a:active {
    color: #4dc0dd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

div.match-count {
  margin-bottom: 30px; }
  div.match-count p {
    margin: 0;
    font-size: 0.85em;
    color: #bbb; }
    div.match-count p span.watershed-number {
      font-weight: 600;
      color: #888;
      font-size: 1.5em;
      padding-right: 2px; }

.legend {
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  padding: 7px; }
  .legend .map-legend-text {
    width: 160px; }
    .legend .map-legend-text div:first-child {
      float: left; }
    .legend .map-legend-text div:last-child {
      float: right; }
  .legend .map-legend-gradient {
    height: 20px;
    width: 160px; }
    .legend .map-legend-gradient.nogradient.now {
      background: url("/imgs/legend_gradient_now.png"); }
    .legend .map-legend-gradient.nogradient.change {
      background: url("/imgs/legend_gradient_change.png"); }
    .legend .map-legend-gradient.nogradient.future_threats {
      background: url("/imgs/legend_gradient_future_threats.png"); }

div.legend div.map-legend-text h3 {
  font-family: 'Open Sans', sans-serif;
  color: #888;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  text-transform: none;
  height: 100%;
  overflow: hidden;
  padding: 0 0 7px 0;
  margin: 0; }

div.legend div.map-legend-gradient {
  overflow: hidden; }
  div.legend div.map-legend-gradient span {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    opacity: 0.3;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    line-height: 20px;
    padding: 0 5px; }
    div.legend div.map-legend-gradient span:last-child {
      float: right; }

header a.about {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 0.85em;
  cursor: pointer; }

div.scale-info {
  margin: 20px 20px 0 20px;
  background-color: #E8F6FA;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  color: #929292; }
  div.scale-info p {
    margin: 0;
    font-size: 0.85em;
    float: left;
    width: 90%;
    padding: 10px; }
    div.scale-info p a {
      color: #4dc0dd; }
      div.scale-info p a:hover, div.scale-info p a.active {
        color: #2F88A3;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
  div.scale-info i {
    display: block;
    width: 10%;
    float: right;
    text-align: center;
    line-height: 38px;
    padding: 10px;
    border-left: 1px solid #DCEDF2;
    color: #4dc0dd; }
    div.scale-info i:hover, div.scale-info i.active {
      color: #2F88A3;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }

div.scale-copy, div.region-copy {
  margin: 20px auto;
  text-align: center; }
  div.scale-copy p, div.region-copy p {
    font-size: 1em;
    margin: 0 0 5px 0;
    color: #929292; }
    div.scale-copy p strong, div.region-copy p strong {
      color: #4dc0dd; }
    div.scale-copy p:last-child, div.region-copy p:last-child {
      margin: 0; }

div.scales {
  margin: 80px 0; }

div.tab-strapline p i {
  padding-right: 5px; }

div.back {
  width: 30px;
  position: absolute;
  left: 20px;
  top: 160px; }
  div.back i {
    color: #4dc0dd;
    font-size: 30px; }
    div.back i:hover, div.back i:active {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      color: #2F88A3;
      opacity: 1; }

div.step-count {
  width: 25px;
  margin: auto;
  padding: 10px 0 20px 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  div.step-count#region div.circle.active {
    float: left;
    padding-right: 5px; }
  div.step-count#region div.circle.inactive {
    float: right; }
  div.step-count#scale div.circle.active {
    float: right; }
  div.step-count#scale div.circle.inactive {
    float: left;
    padding-right: 5px; }
  div.step-count div.circle {
    height: 10px;
    width: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px; }
    div.step-count div.circle.active {
      background: #ddd; }
    div.step-count div.circle.inactive {
      border: 1px solid #ddd; }
