$background-grey: #EBEBEB;
$dark-grey: #E1E1E1;
$blue: #4dc0dd;
$hover: #359CBB;
$dark-blue: #2A2B33;

@import 'mixin';

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
  height: 100%;
}

h1, h2, h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
}

header {
  z-index: 9999;
	background: $dark-blue;
	padding: 15px;
	font-family: 'Dosis', sans-serif;
  border-bottom: 1px solid $dark-grey;
  a {
    text-transform: uppercase;
    font-weight: 700;
    color: $blue;
    text-decoration: none;
    cursor: pointer;
  }
}

.map-container {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
  float: left;
  z-index: -99999;
}

#side-panel {
  width: 25%;
  float: left;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 9999;
  background: #fff;
}

div.filters {
  padding: 30px 20px;
  background: #fff;
  border: 1px solid #FAFAFA;
  color: #9DA2B3;
  h1 {
    margin: 20px 0 10px 0;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
  }

  h2 {
    font-size: 1em;
  }
}

div.subjects {
  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: auto;
    li {
      padding: 10px 10px;
      width: 100%;
      background: $blue;
      color: #fff;
      text-align: center;
      margin-bottom: 10px;
      cursor: pointer;
      @include border-radius(5px);

      &:last-child {
        margin-bottom: 0;
      }
      &:hover, &.active {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        background: $hover;
      }
    }
  }
  h1 {
    text-transform: uppercase;
    font-size: 1em;
  }
}

.region-chooser {
  width: 50%;
  height: 250px;
  color: $blue;
    h1 {
  	margin: 0;
  	text-align: center;
  	background: $dark-blue;
  	padding: 10px 0;
  	color: #fff;
  }
}

.modal {
  z-index: 101;
  background: #fff;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

ul.regions {
	margin: auto;
	padding: 5%;
	list-style-type: none;
	width: 100%;
	li {
		padding: 5px 10px;
		float: left;
		width: 30%;
		margin-right: 5%;
		background: $blue;
		color: #fff;
		text-align: center;
		margin-bottom: 10px;
    cursor: pointer;
    @include border-radius(5px);
		&:last-child {
			margin-bottom: 0;
			margin-right: 0;
		}
    &:hover, &:active {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background: $hover;
    }
	}
}

.disabler {
  z-index: 100;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.1;
}

select option {
  width: 300px;
}

.customSelect { 
/* This is the default class that is used */
/* Put whatever custom styles you want here */
  background: transparent;
  border: 1px solid $blue;
  display: inline-block;
  width: 100%;
  padding: 0 10px;
  background-image: url(/imgs/icon_macarthur.png);
  background-position-x: 295px;
  background-repeat: no-repeat;
  background-position-y: 12px;
  background-size: 4%;
  @include border-radius(5px);
  line-height: 30px;
}
.customSelect.customSelectHover {
/* Styles for when the select box is hovered */
  background-color: $blue;
  background-image: url(/imgs/icon_macarthur_white.png);
  .customSelectInner {
    color: #fff;
  }
}
.customSelect.customSelectOpen {
/* Styles for when the select box is open */
  background-color: $blue;
  background-image: url(/imgs/icon_macarthur_white.png);
  .customSelectInner {
    color: #fff;
  }
}
.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
  background-color: $blue;
  color: #fff;
  background-image: url(/imgs/icon_macarthur.png);
  .customSelectInner {
    color: #fff;
  }
}
.customSelectInner {
/* You can style the inner box too */
  display: inline-block;
  width: 300px;
  height: 30px;
  color: $blue;
}

//.selector {
//  height: 200px;
//}

ul.tabs {
  list-style-type: none;
  background: $dark-blue;
  color: #fff;
  margin: 0;
  overflow: hidden;
  padding: 0;
  li {
    padding:10px;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85em;
    width: 25%;
    text-align: center;
    border-top: 1px solid #43434A;
    border-left: 1px solid #43434A;
    border-right: 1px solid #43434A;
    &:first-child {
      border-right: none;
    }
    &:last-child {
      border-left: none;
      width: 50%;
    }

    &:hover, &.active {
      background: #202127;
    }
  }
}

div.selector {
  margin-top: 30px;
  border-top: 1px solid #eee;
  &:first-child h1 {
    margin: 30px 0 10px 0;
  }
}

div.secondary-filter {
  margin-top: 30px;
  border-top: 1px solid #eee;
  h2 {
    margin-top: 30px;
  }
}

div.scenario-container {
  background: #f7f7f7;
  padding: 10px;
  margin-top: 30px;
  h1 {
    margin-top: 0;
    color: #fff;
  }
}
