<h1>Filter View</h1>

<div class="subjects">
  <ul>
    <li data-subject="biodiversity">Biodiversity</li>
    <li data-subject="ecosystem">Ecosystem</li>
  </ul>
</div>

{{addSubViewTo thisView 'LensSelectorView' lenses=lenses}}
