
<h1>Filter View</h1>

<div class="subjects">
  <ul>
    {{# each subjects}}
    <li data-subject="{{this.selector}}">{{this.name}}</li>
    {{/each}}
  </ul>
</div>

{{#if showLensSelector}}
  {{addSubViewTo thisView 'LensSelectorView' filter=filter}}
{{/if}}
