<div class="selector">
	<h1>{{heading.title}} <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{heading.tooltip}}"></i></h1>

	<select id="lens-select" class='select-box'>
	  {{# each lenses}}
	  <option value="{{selector}}" {{#if selected}}selected{{/if}}>{{name}}</option>
	  {{/each}}
	</select>
</div>
