<h1>Lenses</h1>

<select id="lens-select">
  {{# each lenses}}
  <option value="{{selector}}" {{#if selected}}selected{{/if}}>{{name}}</option>
  {{/each}}
</select>
<span class="customSelect customSelectChanged customSelectOpen">
	<span class="customSelectInner"></span>
</span>