<h2><input type="checkbox" name="pressure" {{#if pressure}}checked{{/if}}>
  <label class="for-checkbox">Pressure</label>
</h2>

{{#if pressure}}
  {{addSubViewTo thisView 'PressureSelectorView' filter=filter}}
{{/if}}
