<div class="secondary-filter">
	<h2>
    <input type="checkbox" name="See watershed overlap with Protected Areas (PA)s" {{#if protection}}checked{{/if}}>
    <label class="for-checkbox">Very important text.See overlap with Protected Areas (PA)s</label>
  </h2>
</div>

{{#if protection}}
  {{addSubViewTo thisView 'ProtectionSelectorView' filter=filter}}
{{/if}}
