<header><h1>Welcome to the Watershed exploration tool</h1></header>
<div class="region-copy"><p>Select a region to start exploring</p></div>
<ul class="regions">
  {{#each regions}}
    <li>
      <div class="region-area" data-region-code="{{code}}" style="background-image: url(/imgs/{{code}}.png);"></div>
      <div class="region-area region-area-link region-link" data-region-code="{{code}}">{{name}}</div>
    </li>
  {{/each}}
</ul>
<div class="step-count" id="region"><div class="circle active"></div><div class="circle inactive"></div></div>
