<h1>Welcome to the Watershed exploration tool</h1>
<ul class="regions">
  {{#each regions}}
    <li><span class="region-area" data-region-code="{{code}}">bla bla</span><div class="region-area region-link" data-region-code="{{code}}">{{name}}</div></li>
  {{/each}}
</ul>
