{{#if dataLoading}}
  <div class="highlight-section match-count">
    <p>loading... <span class="spin"></span></p>
  </div>
{{else}}
  {{#if isRelevantNumber}}
    <div class="highlight-section match-count">
      <span class="watershed-number">{{number}}</span> watersheds match your selection
    </div>
  {{/if}}
{{/if}}
