<div class="highlight-section match-count">
  <p>
  {{#if dataLoading}}
    loading...
  {{else}}
    {{#if isRelevantNumber}}
      <span class="watershed-number">{{number}}</span> watersheds match your selection
    {{else}}
      Please make a selection
    {{/if}}
  {{/if}}
  <span class="spin"></span>
  </p>
</div>
