<div class="highlight-section match-count">
  <p>
  {{#if isNumber}}
    <span class="watershed-number">{{number}}</span> watersheds match your selection
  {{else}}
    Please make a selection
  {{/if}}
  </p>
</div>
