<header><h1>Welcome to the Watershed exploration tool</h1></header>
<div class="scales">
	<div class="scale-copy">
		<p>You have chosen the <strong>{{regionName}}</strong> region.</p>
		<p>Which level of data would you like to see?</p>
	</div>
	<div class="back"><a href=""><i class="fa fa-angle-left"></i></a></div>
	<ul class="scales">
	  {{#each scales}}
	    <li>
	      <div class="scale-area scale-area-link scale-link" data-scale-code="{{code}}" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{tooltip}}">{{name}}</div>
	    </li>
	  {{/each}}
	</ul>
	<p>Hover over the buttons to find out more about each dataset</p>
</div>
