<header><h1>Welcome to the Watershed exploration tool</h1></header>
<div class="scales">
	<div class="scale-copy">
		<p>You have chosen the <strong>{{regionName}}</strong> region.</p>
		<p>Which level of data would you like to see?</p>
	</div>
	<div class="back"><a href=""><i class="fa fa-angle-left"></i></a></div>
	<ul class="scales">
	  {{#each scales}}
	    <li>
	      <div class="scale-area scale-area-link scale-link" data-scale-code="{{code}}">{{name}}</div>
	    </li>
	  {{/each}}
	</ul>
</div>
<div class="step-count" id="scale"><div class="circle inactive"></div><div class="circle active"></div></div>
