<header><h1>Welcome to the Watershed exploration tool</h1></header>
<div class="scales">
	<div class="scale-copy">
		<p>You have chosen the <strong>{{regionName}}</strong> region.</p>
		<p>Results are based on global and regional scenarios of change.<br>Which results would you like to explore?</p>
	</div>
	<div class="back"><a href=""><i class="fa fa-angle-left"></i></a></div>

	<ul class="scales">
	  {{#each scales}}
	    <li>
	      <div class="scale-area scale-area-link scale-link" data-scale-code="{{code}}">{{name}}</div>
	      <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{tooltip}}"></i>
	    </li>
	  {{/each}}
	</ul>
	<div class="scale-copy">
		<p><strong>Hover over the info buttons to find out more about each analysis</strong></p>
	</div>
</div>
<div id="main-logo">
	<a href="http://unep-wcmc.org/"><img class="unep_wcmc_img" src="css/images/unep_logo_black.png"></img></a>
	<a href="http://www.macfound.org/"><img class="macarth_img" src="css/images/macarth_logo.png"></img></a>
</div>
