<div class="scenario-container">
	<h1>Scenario of change</h1>

	<select id="scenario-select" class='select-box'>
	  <option value="" disabled selected>Select a scenario</option>
	  {{# each scenarios}}
	  <option value="{{selector}}" {{#if selected}}selected{{/if}}>{{name}}</option>
	  {{/each}}
	</select>

</div>
