<h1>Scenario of change</h1>
<p class="scenario-help">These scenarios are based on UNEP GOE4. <a href="http://www.unep.org/geo/geo4.asp">Learn more here</a></p>

<select id="scenario-select" class='select-box'>
  <option value="" {{#if defaultOption}}selected{{/if}} disabled>Select a scenario</option>
  {{# each scenarios}}
  <option value="{{selector}}" {{#if active}}selected{{/if}}>{{name}}</option>
  {{/each}}
</select>

